/* GatePage-CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    background: #FFB9DE;
    cursor: none;
}

#cursorGatePage {
    position:fixed;
    width:12px;
    height:12px;
    background:radial-gradient(circle, #fff8c0 0%, gold 60%, transparent 100%);
    border-radius:50%;
    pointer-events:none;
    transform:translate(-50%,-50%);
    box-shadow:
            0 0 6px 2px rgba(255,220,60,0.9),
            0 0 18px 6px rgba(255,180,30,0.5),
            0 0 30px 10px rgba(255,140,0,0.2);
    z-index:9997;
    transition:width .15s, height .15s;
}
#cursorGatePage.on-hair {
    width:22px;
    height:22px;
    box-shadow:
            0 0 10px 4px rgba(255,220,60,1),
            0 0 30px 10px rgba(255,180,30,0.7),
            0 0 50px 18px rgba(255,140,0,0.3);
}